body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    margin-top:100px ;
    margin-left: 140px;
    border: 1px solid black;
    padding: 50px;
}
.center h1{
    text-align: center;
    color:forestgreen;
    background: lawngreen;
    font-weight: bolder;
}
.center p{
 text-align: center;
 font-weight: bolder;
 font-size: 40px;
}

.red{
    padding:10px 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.green{
    padding:10px 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.yellow{
    padding:10px 40px;
    background-color: rgb(223, 223, 38);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}